@model List<Review>
@*<script src="@Url.Content("~/Scripts/jquery-1.4.1-vsdoc.js")" type="text/javascript"></script>*@
<div id="review-list">
<ul>
    @foreach (var review in Model)
    {
        <li class="@review.ReviewType.Name">
            <h3>@review.Title.Html()</h3>
            <em>@review.PublicationDate.ToLongDateString()</em>
            <p>@review.TrailText.Html()</p>
            <div class="star-rating-@review.StarRating"></div>
            @if (User.Identity.IsAuthenticated)
            {
                <a href='/user/saveReview/@review.Id' >Save to my list</a>
            }<br />
            <a href='/review/view/@review.Id' id="readReviewLink" >Read the whole review...</a>
        </li>   
    }
</ul>
</div>
<script src="@Url.Content("~/Scripts/jquery.raty.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    for (var i = 1; i < 6; i++) {
        if ($('.star-rating-' + i).length > 0) {
            $('.star-rating-' + i).raty({
                readOnly: true,
                start: i,
                path: '/Content/Images'
            });
        }
    }
    function saveToList(reviewId)
    {
        $.get("/user/savereview/" + reviewId, null, function (responseText, textStatus) {

        }, "html");
    }
</script>


